<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Paciente</title>
    <link rel="stylesheet" href="/css/editar.css">
</head>
<body>
    <div id="contenedor">
        <h1>Editar Paciente</h1>
        <form action="/actualizarPaciente/<%= paciente.id %>" method="post">
            <div>
                <label for="nombre_paciente">Nombre:</label>
                <input type="text" id="nombre_paciente" name="nombre_paciente" value="<%= paciente.nombre_paciente %>" required>
            </div>
            <div>
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" value="<%= paciente.direccion %>" required>
            </div>
            <div>
                <label for="ci">CI:</label>
                <input type="text" id="ci" name="ci" value="<%= paciente.ci %>" required>
            </div>
            <div>
                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="%= paciente.fecha_nacimiento.toISOString().split('T')[0] %>" required>
            </div>
            <div>
                <label for="numero_telefono">Número de Teléfono:</label>
                <input type="text" id="numero_telefono" name="numero_telefono" value="<%= paciente.numero_telefono %>" required>
            </div>
            <div>
                <label for="genero">Género:</label>
                <select id="genero" name="genero" required>
                    <option value="Masculino" <%= paciente.genero === 'Masculino' ? 'selected' : '' %>>Masculino</option>
                    <option value="Femenino" <%= paciente.genero === 'Femenino' ? 'selected' : '' %>>Femenino</option>
                </select>
            </div>
            <button type="submit">Actualizar Paciente</button>
        </form>
        <button><a href="/index">Cancelar</a></button>
    </div>
</body>
</html>

