<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="contenedor">
        <h1>Editar Usuario</h1>
        <form action="/editar/<%= usuario.id %>" method="post" enctype="multipart/form-data">
            <div>
                <label for="nombre_mostrar">Nombre para mostrar:</label>
                <input type="text" id="nombre_mostrar" name="nombre_mostrar" value="<%= usuario.nombre_mostrar %>" required>
            </div>
            <div>
                <label for="nombre_usuario">Nombre de usuario:</label>
                <input type="text" id="nombre_usuario" name="nombre_usuario" value="<%= usuario.nombre_usuario %>" required>
            </div>
            <div>
                <label for="clave">Clave:</label>
                <input type="password" id="clave" name="clave" value="<%= usuario.clave %>" required>
            </div>
            <div>
                <label for="foto_perfil">Foto de perfil:</label>
                <input type="file" id="foto_perfil" name="foto_perfil">
                <img src="/imagenes/<%= usuario.foto_perfil %>" alt="Foto de perfil" height="100">
            </div>
            <button type="submit">Actualizar Usuario</button>
        </form>
        <button><a href="/index">Cancelar</a></button>
    </div>
</body>
</html>
