<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 id="lista">Lista de Pacientes</h1>
    <% if (listaPacientes && listaPacientes.length> 0) { %>
        <button class="crear" id="nuevoPaciente"><a href="/crearPaciente">Nuevo Paciente</a></button>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>CI</th>
                <th>Fecha de Nacimiento</th>
                <th>Número de Teléfono</th>
                <th>Género</th>
                <th>Operaciones</th>
            </tr>
            <% listaPacientes.forEach(paciente=> { %>
                <tr>
                    <td>
                        <%= paciente.id %>
                    </td>
                    <td>
                        <%= paciente.nombre_paciente %>
                    </td>
                    <td>
                        <%= paciente.direccion %>
                    </td>
                    <td>
                        <%= paciente.ci %>
                    </td>
                    <td>
                        <%= paciente.fecha_nacimiento %>
                    </td>
                    <td>
                        <%= paciente.numero_telefono %>
                    </td>
                    <td>
                        <%= paciente.genero %>
                    </td>
                    <td>
                        <button><a href="/editarPaciente/<%= paciente.id %>">Editar</a></button>
                        <form action="/eliminarPaciente/<%= paciente.id %>" method="post"
                            onsubmit="return confirm('¿Estás seguro de que quieres eliminar este paciente?');">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
        </table>
        <% } else { %>
            <p>No hay pacientes para mostrar.</p>
            <% } %>

</body>

</html>